<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Tests">
    <test preserve-order="true" name="/home/ITRANSITION.CORP/e.zhukovskaya/selenium" verbose="2" >
        <classes>
            <class name="YandexTest"/>
        </classes>
    </test>
</suite>